.form {
  background-color: #fff4f4;
  border-radius: 20px;
  padding: 40px;
  width: 800px;
  margin: 0 auto;
}

.form-box h1 {
  text-align: center;
  font-weight: 900;
}

.form-box p {
  text-align: center;
}

.form-flex {
  margin-left: 32%;
}

input {
  padding: 8px 10px;
  border-color: gray;
  border-radius: 20px;
  background-color: beige;
  border: none;
}

.form-btn {
  padding: 8px 25px;
  background-color: #ff4948;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
