.hero-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-box {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  margin-top: 40px;
}

.hero-content h2 {
  font-size: 40px;
}

.hero-content p {
  color: gray;
  font-size: 18px;
}

.hero-content h3 {
  color: #ff4948;
  font-size: 30px;
}

.hero-title {
  width: 800px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.5;
}
